/*CSS*/
div {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.caixa1 {
    background-color: palevioletred;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: -1;
}
.caixa2 {
    background-color: rgb(224, 153, 177);
    position: absolute;
    top: 150px;
    left: 400px;
}
.caixa3 {
    background-color: rgb(235, 195, 208);
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.body {
    height: 200vh;
} 
.caixa1 {
   position: sticky; 
   top: 0;
}