body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffeaea; /* fundo clarinho rosado */
    color: #2b0000;
}

/* Cabeçalho */
header {
    background-color: #e35b5b;
    text-align: center;
    padding: 15px;
    color: white;
}

/* Menu */
nav {
    background-color: #ff8b8b;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px;
}

nav a {
    text-decoration: none;
    color: #fff5f5;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #fff;
    text-shadow: 0 0 8px #ffb3b3;
}

/* Conteúdo */
main {
    padding: 20px;
}

h2 {
    text-align: center;
    color: #c72c41;
    margin-top: 30px;
}

/* Tabelas gerais */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff5f5; /* fundo das tabelas mais claro */
    box-shadow: 0 0 10px rgba(255, 150, 150, 0.4);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ffb3b3;
    padding: 10px;
}

th {
    background-color: #f25c5c;
    color: white;
}

/* Tabela de horários */
.horarios th {
    background-color: #ff6666;
}

/* Tabela de notas */
.notas th {
    background-color: #67c267; /* Cabeçalho verde mais suave */
}

.aprovado {
    color: #00b800;
    font-weight: bold;
}

.reprovado {
    color: #e60000;
    font-weight: bold;
}
