div {
    width: 300px;
    height: 300px;
    margin: 3px;
    border: 3px solid black;
}
body {
    display: flex;
    flex-wrap: wrap;
}
.caixa1 {
    background: linear-gradient(to top, red, blue);
}
.caixa2 {
    background: linear-gradient(to left, green, yellow, orange);
}
.caixa3 {
    background: linear-gradient(136deg,purple, pink, white);
}
.caixa4 {
    background: radial-gradient(circle, lightblue, blue);
}
.caixa5 {
    background: radial-gradient(at top left,pink, white);
}
.caixa6 {
    background: conic-gradient(red,yellow,green, blue);
}